{% extends 'base.html' %}

{% block content %}
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Content</th>
            <th scope="col">Arrive</th>
            <th scope="col">Where</th>
            <th scope="col">From</th>
            <th scope="col">Cost</th>
            <th scope="col">It´s Paid?</th>
            <th scope="col">Store</th>
            <th scope="col">Ordered on the day</th>
            <th scope="col">+ Info</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Rato</td>
            <td>14/01/2020</td>
            <td>Founders Founders</td>
            <td>China</td>
            <td>15,99€</td>
            <td>Yes</td>
            <td>Aliexpress</td>
            <td>12/12/2019</td>
            <td>9178321232</td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>Rato</td>
            <td>14/01/2020</td>
            <td>Founders Founders</td>
            <td>China</td>
            <td>15,99€</td>
            <td>Yes</td>
            <td>Aliexpress</td>
            <td>12/12/2019</td>
            <td>9178321232</td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>Rato</td>
            <td>14/01/2020</td>
            <td>Founders Founders</td>
            <td>China</td>
            <td>15,99€</td>
            <td>Yes</td>
            <td>Aliexpress</td>
            <td>12/12/2019</td>
            <td>9178321232</td>
        </tr>
    </tbody>
</table>

{% endblock %}